* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.pokedex-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 70px; 
}

.red-section {
  width: 50%;
  background-color: #f00;
}

.black-section {
  width: 50%;
  background-color: #000;
}
