.container-poke {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.poke-card {
  background-color: currentColor;
  border: 1px solid currentColor;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.poke-card:hover {
  transform: translateY(-10px); /* Levanta la tarjeta */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Agrega sombra */
}

.poke-image {
  width: 100%;
  height: auto;
}

.poke-name {
  margin-top: 10px;
  font-size: 26px;
}
.section-card {
  background-color: rgb(255, 255, 255);
}
.footer-card {
  background-color: rgb(255, 255, 255);
}


.fire{
  color: rgb(223, 82, 57)
}
.water{
  color: rgb(35, 35, 202);
}
.bug{
  color: rgb(55, 123, 82);
}
.grass{
  color: rgb(23, 108, 23);
}
 .normal {
  color:  #c06227;
 }